<library path="wearable_robot_ui">
  <class name="TemperatureControlPlugin" type="wearable_robot_ui.temperature_control_plugin:TemperatureControlPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>웨어러블 로봇의 온도 및 팬 제어를 위한 플러그인</description>
    <qtgui>
      <group>
        <label>WearableRobot</label>
        <icon type="theme">folder</icon>
        <statustip>웨어러블 로봇 시스템 제어</statustip>
      </group>
      <label>Temperature Control</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>온도 모니터링 및 팬 제어</statustip>
    </qtgui>
  </class>
</library>


