<library path="temperature_control_gui">
  <class name="TemperatureControlGUI" type="temperature_control_gui.temperature_control_gui.TemperatureControlGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      웨어러블 로봇의 온도 및 팬 제어를 위한 rqt 플러그인
    </description>
    <qtgui>
      <group>
        <label>WearableRobot</label>
        <icon type="theme">folder</icon>
        <statustip>웨어러블 로봇 시스템을 위한 플러그인들</statustip>
      </group>
      <label>온도 및 팬 제어</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>웨어러블 로봇의 온도 모니터링 및 팬 제어</statustip>
    </qtgui>
  </class>
</library>
